.numbers {
    background-color: $primary-background;
    padding-top: 58px;
    padding-bottom: 58px;
    margin-bottom: 130px;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
    }

    &__value {
        display: inline-block;
        font-family: $RedHatDisplay-Bold;
        font-size: rem(56);
        line-height: rem(70);
        color: $text-dark;
        margin-bottom: 30px;
        position: relative;
        border-bottom: 3px solid #222;
    }

    &__title {
        font-size: rem(24);
        line-height: rem(30);
    }

    @media only screen and (max-width: 1248px) {
        margin-bottom: 110px;
    }

    @media only screen and (max-width: 680px) {
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 680px) {
        &__wrapper {
            flex-direction: column;
        }

        &__value {
            font-size: rem(46);
            line-height: rem(60);
        }

        &__item:not(:last-child) {
            margin-bottom: 40px;
        }

        &__title {
            font-size: rem(20);
            line-height: rem(26);
        }
    }
}