@font-face {
    font-family: 'RedHatDisplay-Regular';
    font-display: swap;
    src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'RedHatDisplay-Medium';
    font-display: swap;
    src: url('../fonts/RedHatDisplay-Medium.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Medium.woff') format('woff');
}

@font-face {
    font-family: 'RedHatDisplay-Bold';
    font-display: swap;
    src: url('../fonts/RedHatDisplay-Bold.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-Bold.woff') format('woff');
}

@font-face {
    font-family: 'RedHatDisplay-BoldItalic';
    font-display: swap;
    src: url('../fonts/RedHatDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/RedHatDisplay-BoldItalic.woff') format('woff');
}